/* Псевдокласс определяется двоеточнием, которое находится между
ссылкой и названием псевдокласса
данное правило можно заменить следующим образом */
p:nth-child(4) { background: #999999 }
/*данное правило можно заменить следующим образом 
.myclass:nth-child(2)
/* и обратиться к каждому элементу, являющемуся потомком другого элемента
число в скобках означает позицию птомка или его индекс */
p:nth-child(1) { background: #cccccc }
p:nth-child(3) { background: #ccccee }
p:nth-child(2) { background: #ccccee }
div > p.mytext2 { color: #990000} /* селектор >
 указывает что правило 
применяется ко второму элементу при условии что он является потомком
первого */